@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900|Montserrat:300,300i,400,400i,500,500i,700,700i|Open+Sans:300,400,400i,700&display=swap');
:root{
    /* Fuentes */
    --fuenteMontAlt: 'Montserrat Alternates', sans-serif;;
    --fuenteMontserrat: 'Montserrat', sans-serif;
    /** Colores */
    --blanco:#ffffff;
    --amarilloF:#f2991f;
    --rojoObscuro: #D01D36;
    --darkRed: #ab0f25;
}
body{
    font-family: var(--fuenteMontserrat);
    font-size: 1.2rem;
    line-height: 2;
    background-color: var(--blanco);
}
.menu   {
    background-color: var(--rojoObscuro);
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    width: 100%;
    font-size: 10px;
}
.navbar-brand{
    color: var(--blanco);
}
.container {
    padding-top:2%;
}
#btnAction {
    margin-top:1rem;
    font-family: var(--fuenteMontAlt);
    background-color: var(--amarilloF);
    width: 200px;
    height: 180px;
    color:var(--blanco);
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius:15px;
}
#btnAction i{
    font-size: 3rem;
}
#btnAction label {
    font-size: 0.8rem;
    margin-left: 50%;
    font-style: oblique;
}
#btnAction:hover {
    color:var(--amarilloF);
    background-color: var(--blanco);
    border-color: var(--amarilloF);
}
#logoMajestic {
    width: 90px;
}
.navbar-brand:hover {
    color: var(--blanco);
}
.classFooter{
    height: 100px;
    width: 100%;
    /* position: absolute; */
    color:var(--blanco);
    font-size: 1rem;
    font-weight: 200;
    background-color: var(--rojoObscuro);
    bottom: 0;
    margin-top: 10%;
    text-align: center;
    padding-top: 2%;
}

#linkA { text-decoration: none; color: var(--blanco); }
#linkA:visited { text-decoration: none; }
#linkA:hover { text-decoration: underline; }
#linkA:active { text-decoration: underline; }


.titleH1 {
    color: var(--darkRed);
}